
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mahjong Performance Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        {% if current_user.is_authenticated %}
            <p>ようこそ、{{ current_user.username }} さん</p>
        {% else %}
            <h1>認証エラーしました。<br>ログアウトして下さい。</h1>
            	<nav>
                    <ul>
                    	<li><a href="/logout">ログアウト</a></li>
                	</ul>
            	</nav>
            
        {% endif %}
    </header>
     <h1>麻雀成績管理</h1>
<form action="{{ url_for('free') }}" method="post" onsubmit="return confirmAction();">
    <label for="rank">着順：</label>
    <select name="rank" id="rank" required>
        <option value="">--着順を選択--</option>
        <option value="1">1着</option>
        <option value="2">2着</option>
        <option value="3">3着</option>
        <option value="4">4着</option>
    </select>

    <br><br>

    <label for="jannsou">雀荘を選択：</label>
    <select name="jannsou" id="jannsou" required>
        <option value="">--雀荘を選択--</option>
        {% for jannsou in jannsou_list %}
            <option value="{{ jannsou[0] }}">{{ jannsou[1] }}</option>
        {% endfor %}
    </select>

    <br><br>
    <button type="submit">着順登録</button>
</form>
