<!DOCTYPE html>
<html>
<head>
    <title>雀荘登録フォーム</title>
</head>
<body>
    <h1>雀荘登録</h1>
    
    {% if current_user.is_authenticated %}
        <p>ようこそ、{{ current_user.username }} さん</p>
    {% endif %}
    <body>
        <section>
            <form action="{{ url_for('jansou') }}" method="POST">
                <div>
                    <label for="username">雀荘： </label>
                    <input type="text" id="username" name="username" required>
                </div><br>
                <div>
    

    <a href="{{ url_for('free') }}">フリーモード</a>
</body>
</html>
