
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mahjong Performance Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>麻雀成績管理</h1>
    </header>

    <section>
        <form action="{{ url_for('login') }}" method="POST">
            <div>
                <label for="username">Username： </label>
                <input type="text" id="username" name="username" required>
            </div><br>
            <div>
                <label for="password">Password：</label>
                <input type="password" id="password" name="password" required>
            </div>
            <br>
            <button type="submit">Login</button>
            </br>
        </form>
    </section>



    <footer>
        <p>&copy; 2025 Mahjong Performance Management</p>
    </footer>
</body>
</html>
